/* Css for the calculator feature */

.calculator-header {
    text-align: center;
}

.calculator-grid {
    display: flex;
    gap: 5px;
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.calculator-components {
    max-width:70px; 
    margin-bottom: 20px;
    text-align: center;
}

.calculator-button {
    display: block;
    width: 220px;
    margin: 0 auto;
    background: cadetblue;
    color: white;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    padding: 8px 0;
    cursor: pointer;
}