@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/Segoe UI.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Segoe UI';
  font-weight: 200;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  min-width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-content {
  position: relative;
  height: calc(100% - 55px);
}
