/* Window */
.window-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  transition: 0.1s;
}

.window-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  background: #efefef;
  user-select: none;
  height: fit-content;
}

.window-header-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5px;
}

.window-header-buttons-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.1s;
}

.window-header-title {
  font-size: 14px;
  margin: auto;
  margin-left: 5px;
}

.window-header-icon {
  width: 20px;
  height: 20px;
  margin: auto 0;
}

.window-header-buttons-container button {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 40px;
  transition: 0.15s;
}

.window-header-buttons-container img {
  width: 15px;
  height: 15px;
}

.window-icon-minimize {
  display: none;
}

.window-button-hide:hover,
.window-button-resize:hover {
  background: #dfdfdf;
}

.window-button-close:hover {
  background: red;
}

.window-content {
  display: block;
  background-color: #1d2333;
  color: white;
}

@media (max-width: 600px) {
  .window-container {
    width: 100% !important;
    z-index: 5;
    top: -60px;
    left: 0;
    transform: translate(0%, 0%);
  }

  .window-content {
    overflow-y: scroll;
    height: 100dvh !important;
  }

  .window-button-hide {
    display: none;
  }
}
